body {
    height: 100vh;
    width: 100vw;
    padding-top: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;

    margin: 0;
    padding: 0;
}

:root {
    --dark-1: #2b2f36;
    --dark-2: #d8d8d8;

    --light-1: #ffffff;

    --main-1: rgb(73, 138, 236);
    
    --hyperlink: rgb(139, 171, 219);

    --shadow-1: 0px 0px 2px 2px var(--dark-2);

    font-family: 'Open Sans';
}

a {
    color: var(--hyperlink);
    text-decoration: none;
}

input, textarea {
    border: 0;
    border-radius: 0.2rem;
    box-shadow: var(--shadow-1);

    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

form, .area {
    display: grid;
    grid-template-columns: 1fr;
    width: 700px;
    max-width: calc(90vw - 20px);

    box-shadow: var(--shadow-1);

    padding: 10px;
    margin-top: 10px;
}

form {
    grid-template-columns: 1fr 1fr;
}

.nav {
    background: var(--main-1);
    font-weight: bold;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
}

.nav span:first-child {
    text-align: left;
}

.nav a {
    color: white;
    text-decoration: none;

    padding: 10px;
}

.main-content {
    width: 720px;

    max-width: 90vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    width: 720px;
    max-width: 90vw;

    height: 405px;
    max-height: 50vw;

    background: var(--dark-1);

    box-shadow: var(--shadow-1);
}

.thumb {
    width: 210px;
    height: 120px;
    object-fit: cover;
}

.thumblist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 730px) {
    .thumblist {
        grid-template-columns: 1fr;
    }
}

.vmeta {
    width: 210px;

    margin: auto;

    margin-top: 10px;
}

.big {
    font-size: 1.2rem;
}